<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Node Server</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<form action="/" method="post" accept-charset="utf-8">
		<span>Username : </span><br>
		<input type="text" name="username"><br>
		<span>Password : </span><br>
		<input type="password" name="password"><br><br>
		<input type="submit" name="" value="Submit">
	</form>
</body>
</html>