<!DOCTYPE html>
<html>
<head>
	<title>Sign In</title>
</head>
<body>
	<h1>Sign in form</h1>
	<form method="post">
		<p>Email:</p>
		<input type="text" name="email">
		<p>Password:</p>
		<input type="text" name="password">
		<br><br>
		<input type="submit" name="" value="submit">
	</form>
</body>
</html>